RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /wsgi.py/$1 [QSA,L]

WSGIScriptAlias / /home2/shloktilokani/public_html/ShlokWebPortfolio/wsgi.py